<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset='utf-8'>
		<meta name="description" content="Visual Novel">
		<meta name="author" content="Les Piétons de la Scène">
		<title>Sarah</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="perfect-scrollbar.min.css">
	</head>
	<body>
		<script src="scripts/lib/jquery.js"></script>
		<script src="scripts/lib/perfect-scrollbar.with-mousewheel.min.js"></script>
		<script src="scripts/controller.js"></script>
		<footer>créé par Jérémy Rabasco, Sacha Bron, Kirill Khaludrov, Laura Angeles, Luca Bron, Chloé Chaudet</footer>
	</body>
</html>
