/* @import url(http://fonts.googleapis.com/css?family=Lora|Droid+Serif); */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(droid.woff) format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(lora.woff) format('woff');
}

* {
	padding: 0;
	margin: 0;
	border: none;
}

html, body {
	height: 100%;
	width: 100%;
}

.container {
	height: 100%;
	width: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 200px;
	right: 200px;
	padding: 30px;

	background-color: rgba(0, 0, 0, 0.5);
}

.content {
	position: relative;
	height: 100%;

	padding-right: 40px;

	/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);*/
	/*text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -2px -2px 5px #000, 2px 2px 5px #000 */

	font-family: 'Lora';
	font-family: 'Droid Serif';

	color: white;

	overflow: hidden;
}

.choice {
	cursor: pointer;
	border: 2px #eee solid;
	transition: all 0.25s;
	padding: 8px 15px;
	display: inline-block;
}

.choice:hover {
	/*border: 2px #aaa solid;*/
	background-color: #611;
}

.hidden {
	display: none;
}